*.psd
*.clip
*.dll
*.exe
*.app
*.xcodeproj
/CLIPStudioPlugIn
/CLIPStudioPaintData
/CLIPStudioCommonInterProcessTemp
/CLIPStudioCommon
/CLIPStudioModule
/CLIPStudioPaintVer1_5_0
CLIPStudioPaintVer1_5_0/Tool/EditImageTool.todb
CLIPStudioPaintVer1_5_0/BrushPreset/BrushPreset.bfps
